/* AuthForm.css */

.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #D4D4D4;
    font-family: 'Arial', sans-serif;
}

/* Style for the form */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #283c34;
    padding: 2em;
    border-radius: 8px;
}

.login-form label {
    display: block;
    margin: 0.5em 0;
    color: #D4D4D4;
}

.login-form input {
    margin: 0.5em 0;
    padding: 0.75em;
    font-size: 1em;
    width: calc(100% - 1.5em);
    border: 1px solid #D4D4D4;
    background: #324B4D;
    color: white;
    border-radius: 4px;
}

/* Style for error messages */
.login-form p {
    color: #E53E3E;
    font-size: 0.9em;
}

/* Style for the submit button */
.login-form input[type="submit"] {
    padding: 0.75em;
    font-size: 1em;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}

.form-container {
    width: 381px;
    margin: auto;
    position: relative;
}

.text-switch-log {
    color: #D4D4D4;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.text-rights {
    color: #D4D4D4;
    font-size: 0.5em;
    text-align: center;
    margin-top: 4em;
}


.text-asterisk {
    margin-top: 20px;
    vertical-align: super;
    font-size: smaller;
}

@media (max-width: 600px) {
    .login-form {
        width: 90%;
    }
}

@media (min-width: 601px) {
    .login-form {
        width: auto;
    }
}
