.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #D4D4D4;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #1E382F;
    opacity: 0.5;
    padding: 2em;
    border-radius: 8px;
    margin-bottom: 3rem;
}

.login-form label {
    display: block;
    margin: 0.5em 0;
    color: #E0E5CB;
}

.login-form input {
    margin: 0.5em 0;
    padding: 0.75em;
    font-size: 1em;
    border: none;
    border-radius: 0.7em;
    background-color: #48806CB3;
    width: calc(100% - 1.5em);
    color: #E0E5CB;
}

/* Style for error messages */
.login-form p {
    color: #E53E3E;
    font-size: 0.9em;
}

/* Style for the submit button */
.login-form input[type="submit"] {
    font-size: 1em;
    background-color: #48806C;
    border-color: none;
    border-radius: 15em;
    color: #1E382F;
    cursor: pointer;
    width: auto;
    padding: 1em 3em;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}

.form-container {
    width: 381px;
    position: relative;
}

.text-switch-log {
    color: #D4D4D4;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.text-rights {
    color: #D4D4D4;
    font-size: 0.5em;
    text-align: center;
    margin-top: 4em;
}


.text-asterisk {
    margin-top: 20px;
    vertical-align: super;
    font-size: smaller;
}

@media (max-width: 600px) {
    .login-form {
        width: 90%;
    }
}

@media (min-width: 601px) {
    .login-form {
        width: auto;
    }
}
