.mainPage {
  margin: 3em 20% 0 20%;
  display: flex;
  flex-direction: column;
}

.error, .loading, .noPosts {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.addPostButton, .cancelButton {
  margin: auto;
  padding: 0.3em 0.6em;
  display: flex;
  align-items: center; /* Centre verticalement les éléments de la liste */
  border: 0.1em solid #E0E5CB;
  border-radius: 4px;
  background-color: #48806CB3;
  cursor: pointer;
  width: 90%;
  color: #E0E5CB;
  font-size: 1.2em;
}

p{
  margin: 0;
}

.fa-plus {
  margin-left: auto;
  color: #E0E5CB;
  padding: 0.2em;
  font-size: 1.1em;
  border-radius: 0.3em;
  border: #E0E5CB solid 0.25em;
}

.newPostFormContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.postLink {
  text-decoration: none;
  color: black;
}

.postCard {
  background-color: #1E382F;
  border-radius: 2em;
  padding: 1.5em;
  margin: 1.5em 0;
  color:#E0E5CB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.4em;
}

.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #48806C59;
  border-radius: 2em;
  height: 40em;
}

.text{
  padding: 2em 0.5em 2em 1.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  font-size: 1em;
}

.postImage {
  width: 100%;
  height: auto;
  text-align: left;
  background-color: #48806CFF;
  border-radius: 0 2em 2em 0;
}

.postTitle {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: bold;
}

.postContact {
  color: #E0E5CB;
  padding: 0.3em 0;
  font-size: 1.2em;
  border-radius: 0.7em;
  border: #E0E5CB solid 0.1em;
  background-color: #48806CB3;
  cursor: pointer;
  margin-top: auto;
}

.viewPostLink, .viewCommentsLink {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .mainPage {
    padding: 10px;
    margin: 3em 5% 0 5%;
  }

  .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #48806C59;
    border-radius: 2em;
    height: 40em;
  }

  .text{
    padding: 2em 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 1em;
    box-sizing: border-box;
  }

  .postImage{
    order: -1;
    height: 100%;
    border-radius: 2em 2em 0 0;
  }

  .postContact {
    margin-top: 1em;
  }
}

@media (min-width: 601px) {
  .mainPage {
    padding: 20px;
  }
}